.first-screen-wrapper{
  .title{
    width: 45%;
  }
}
.why-we-wrapper{
  .item-wrap{
    width: 90%;
    grid-column-gap: 4%;
    .column{
      text-align: center;
    }
  }
}
.gray-line{
  .slide-wrap{
    .left{
      .slide-items-nav{
        a{
          margin-right: 1.5rem;
          font-size: 1.4rem;
        }
      }
    }
  }
}
.review-slide{
  .slide-wrapper{
    .controls{
      width: 9%;
      padding: 1rem;
    }
    .items-wrap{
      width: 82%;
    }
  }
}